<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>RESonator</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <meta name="description" content="Page description" />
    <meta property="og:title" content="Unique page title - My Site" />
    <meta property="og:description" content="Page description" />
    <meta property="og:image" content="https://www.mywebsite.com/image.jpg" />
    <meta property="og:image:alt" content="Image description" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://www.mywebsite.com/page" />
    <link rel="canonical" href="https://www.mywebsite.com/page" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/my.webmanifest" />
    <meta name="theme-color" content="#FF00FF" />
    {% endblock %}
  </head>

  <body>
    <div class="container min-vh-100">
      {% block content %}{% endblock %}
      <!-- Content -->
      {#
      <script src="/assets/js/xy-polyfill.js" nomodule></script>
      #} {#
      <script src="/assets/js/script.js" type="module"></script>
      #}
    </div>

    <footer class="container-fluid px-3 py-2">
      <span>RESonator version {{ version }}</span>
    </footer>
  </body>
</html>
