{% extends "layout/default.jinja" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      RESonator 2
    </p>
    <a href="/process-job">Process Job</a> 
{% endblock %}
